.submitBtn{cursor:pointer;box-sizing:border-box;padding:0 15px;border:1px solid red;height:30px; vertical-align: bottom;}
.inputType1{border:1px solid red;height:30px;box-sizing:border-box; padding: 0 5px;}
.boxType1{ box-sizing: border-box; width: 200px; height: 200px; border: 3px lightblue solid;}