body,html{color:#333;margin:0;height:100%;font-family:myriad set pro,helvetica neue,Helvetica,Arial,Verdana,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-weight:400}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
a{text-decoration:none;color:#000}
img{border:0}
body{background:#fff;color:#666}
blockquote,body,button,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,html,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
a{text-decoration:none;color:#08acee}
button{outline:0}
img{border:0}
button,input,optgroup,select,textarea{margin:0;font:inherit;color:inherit;outline:0}
li{list-style:none}
a{color:#666}
a:hover{color:#eee}
.clearfix::after{clear:both;content:".";display:block;height:0;visibility:hidden}
.block-content{visibility:visible;animation-duration:1.2s;animation-delay:0s;animation-iteration-count:1;animation-name:fadeInUp;position:relative;width:80%;margin:0 auto}
.block-content-box{visibility:visible;animation-duration:.4s;animation-delay:0s;animation-iteration-count:1;position:relative}
.block-content-box-list{display:table;width:100%;padding:0;border-right:1px solid #eee;border-bottom:1px solid #eee}
.block-list-item{width:33.333333333333333%;display:inline-block;vertical-align:top;float:left}
.block-list-item-box{border-left:1px solid #eee;border-top:1px solid #eee;padding:60px 20px;position:relative;overflow:hidden;transition:all .5s;transition:all .5s}
.block-list-item-box:hover{-webkit-box-shadow:rgba(1,130,150,.2) 0 0 30px;-moz-box-shadow:rgba(1,130,150,.2) 0 0 30px;box-shadow:rgba(1,130,150,.2) 0 0 30px}
.block-list-item-mask{-webkit-mask-image:-webkit-radial-gradient(circle,#fff 100%,#000 100%);overflow:hidden}
.block-list-item-image{padding-top:80px!important;position:relative}
.block-list-item-content{position:absolute;top:0;left:0;right:0;bottom:0;overflow:hidden}
.block-list-item-middle{display:table;table-layout:fixed;height:100%;vertical-align:middle;text-align:center;width:80px;margin:auto;border-radius:100%}
.block-list-item-middle img{position:relative;vertical-align:middle;cursor:initial!important;width:80%}
.block-list-item-text{margin:.9em 0 0;z-index:3;display:block}
.block-list-item-body{display:table;vertical-align:middle;width:100%;height:100%;table-layout:fixed;margin-top:0;text-align:center}
.block-list-item-body-title{margin-bottom:8px}
.block-list-item-body-title p strong{font-size:14px;font-family:microsoft yahei,微软雅黑,MicrosoftJhengHei,华文细黑,STHeiti,MingLiu}
.block-list-item-body-text p{color:#999;font-size:12px;font-family:microsoft yahei,微软雅黑,MicrosoftJhengHei,华文细黑,STHeiti,MingLiu}